@tailwind base;
@tailwind components;
@tailwind utilities;


.bgPrimary {
  background: #1759ff !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(240, 240, 240);
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa9a9;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.botao {
  @apply shadow-2xl py-2 px-5 rounded-sm text-white border-0 text-center hover:text-white hover:transition-all hover:ease-out hover:duration-500 hover:scale-105 font-semibold;
  text-transform: uppercase;
  text-decoration: none;
}

.botao-primario {
  background: #1759ff !important;

}
.botao-primario:hover {
  background: #113dac !important;
  color: #fff !important;
}

.botao-sucesso {
  @apply bg-green-500
}

.botao-sucesso:hover {
  @apply bg-green-700 text-white;
}

.botao-sky {
  @apply bg-sky-500;
}

.botao-sky:hover{
  @apply bg-sky-600 text-white;
}

.botao-azul {
  @apply bg-blue-900
}

.botao-azul:hover {
  @apply bg-blue-800
}

.numero {
  @apply text-center rounded h-8 w-14 cursor-pointer font-mono p-1 m-0.5
}