@tailwind base;
@tailwind components;
@tailwind utilities;

.bgPrimary {
  background: #1a2e59 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  /* border-radius: 10px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a2e59; 
  /* border-radius: 10px; */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #406fd4; 
}

/* edição de cores primarias no bootstrap */
.btn {
  @apply shadow-md py-3 rounded-md transition duration-300;
  font-weight: 300 !important;
  text-transform: uppercase;
}

.btn-primary {
  background: #1a2e59 !important;
}

.btn-success {
  background: #00b74a !important;
  border: #00b74a;
}

.btn-success:hover {
  background: #048136 !important;
}

.btn-primary:hover,
.btn-primary:hover {
  background: #274584 !important;
  color: #fff !important;
}